body{
  background-image: url(images/background2.jpeg) ;
   
  }

  @font-face{
    font-family: "parkinsans";
    src: url("font/parkinsans/parkinsanssemibold.ttf");
  }
.nav {
    text-align: center;
    margin: 0;
    padding: 0;
      }

  p{
    color: white;
    font-size: 20px;
  }
  .nav li {

    display: inline-block;
    list-style-type: none;
    
    padding: 20px;
  }

  .nav a {
    font-family: "parkinsans";
    color:rgb(255, 255, 255);
    font-size: 20px;
    text-decoration: none;

  }

.nav a:hover{
  color:rgb(5, 1, 253);
}


h1{ color:#1302fa;
    font-size: 35px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.container {

    font-family:"parkinsans";
    text-align: justify ;
    column-count: 1;
    column-width: 200px;
    font-size: 15px;
    color:#ffffff;
}

.container {
     
    position:absolute;
    top: 160px;
    left: 500px;
    right : 170px;

}


details{
  font-size:20px;
  line-height: 3;
  color:rgba(63, 63, 65, 0.151);
  background-color: rgba(255, 255, 255, 0.411);
  border-radius: 10% 30% 50% 70%;
}

.portrait {
  position:absolute;
  width: 300px;
  top:180px;
  margin-left: 100px
}

footer{
  color:rgb(80, 81, 82);
  font-size : 15px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: right;
  margin bottom:0;
}

button {
  --color: #1302fa;
  font-family: inherit;
  display: inline-block;
  width: 8em;
  height: 2.6em;
  line-height: 2.5em;
  margin: 20px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border: 2px solid var(--color);
  transition: color 0.5s;
  z-index: 1;
  font-size: 25px;
  border-radius: 6px;
  font-weight: 500;
  color: var(--color);
}

button:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--color);
  height: 150px;
  width: 200px;
  border-radius: 50%;
}

button:hover {
  color: #25232370;
}

button:before {
  top: 100%;
  left: 100%;
  transition: all 0.5s;
}

button:hover:before {
  top: -30px;
  left: -30px;
}

button:active:before {
  background: #3a0ca3;
  transition: background 0s;
}



.texteexpo {
  text-align: justify ;
  column-count: 3;
  column-width: 400px;
  font-size: 20px;
  color:#17a2da;
  padding: 200px;
}

.texteitalique {
font-size : 25px;
}