body{
  background-color: black;
   
  }


@font-face{
  font-family: "";
  src: url("font/parkinsans/parkinsanssemibold.ttf");
}

@font-face{
  font-family: "parkinsans";
  src: url("font/parkinsans/parkinsanssemibold.ttf");
}

  @font-face { 
  font-family: "parkinsansregular"; src: url("font/parkinsans/parkinsansregular.ttf"); 
}

@font-face{
  font-family: "parkinsansextrabold";
  src: url("font/parkinsans/parkinsansextrabold.ttf");
}

.nav {
    text-align: center;
    margin: 0;
    padding: 0;
      }

  p{
    color: white;
    font-size: 20px;
  }
  .nav li {
    display: inline-block;
    list-style-type: none;
    padding: 20px;
  }

  .nav a {
    font-family: "parkinsans";
    color:rgb(255, 255, 255);
    font-size: 25px;
    text-decoration: none;

  }

.nav a:hover{
  color:rgb(5, 1, 253);
}


h1{ color:#292D81;
    font-size: 35px;
    padding-top: 150px ;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.messagedaccueil {
  color: rgb(161, 185, 252);
  margin-top: 300px;
  text-align: center;
  font-family: "parkinsansextrabold";
  font-size: 80px;
}
.messagedaccueil:active {
  color: rgb(3, 70, 253);
  margin-top: 300px;
  text-align: center;
  font-family: "parkinsansextrabold";
  font-size: 80px;
}

.container {

    font-family:"parkinsansregular";
    text-align: justify ;
    column-count: 1;
    column-width: 200px;
    font-size: 15px;
    color:#ffffff;
}

.container {
     

    position:absolute;
    top: 160px;
    left: 500px;
    right : 170px;

}


details{

  font-family:"parkinsansregular";
  font-size:20px;
  line-height: 3;
  color:rgb(255, 255, 255);
  margin-left: 200px;
  
 
}

.portrait {
  position:absolute;
  width: 400px;
  top: 250px;
  margin-left: 100px;
  padding-right: 300px;
}

.nicolas{

  color: rgb(161, 185, 252);
  margin-top: 20px;
  font-family: "parkinsansextrabold";
  font-size: 20px;
  
}

footer{
  color:rgb(80, 81, 82);
  background-color: #030029;
  font-family: Arial, Helvetica, sans-serif;
  text-align: right;
  margin-top: auto;
  position: relative;
  bottom:0;
  width:100%;
}

button {
  --color: #1302fa;
  font-family: inherit;
  display: inline-block;
  width: 8em;
  height: 2.6em;
  line-height: 2.5em;
  margin: 20px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border: 2px solid var(--color);
  transition: color 0.5s;
  z-index: 1;
  font-size: 25px;
  border-radius: 6px;
  font-weight: 500;
  color: var(--color);
}

button:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--color);
  height: 150px;
  width: 200px;
  border-radius: 50%;
}

button:hover {
  color: #25232370;
}

button:before {
  top: 100%;
  left: 100%;
  transition: all 0.5s;
}

button:hover:before {
  top: -30px;
  left: -30px;
}

button:active:before {
  background: #3a0ca3;
  transition: background 0s;
}



.texteexpo {
  font-family:"parkinsansregular";
  text-align: justify ;
  column-count: 3;
  font-size: 20px;
  color:#ffffff;
  padding-top: 200px;
  padding-right: 100px;
  padding-left:400px;  
}

