body{
  background-color: black;
   
  }


@font-face{
  font-family: "bebasneueregular";
  src: url("font/bebasneueregular.ttf");
}

@font-face{
  font-family: "parkinsansbold";
  src: url("font/parkinsans/parkinsanbold.ttf");
}

@font-face{
  font-family: "parkinsans";
  src: url("font/parkinsans/parkinsanssemibold.ttf");
}

  @font-face { 
  font-family: "parkinsansregular"; src: url("font/parkinsans/parkinsansregular.ttf"); 
}

@font-face{
  font-family: "parkinsansextrabold";
  src: url("font/parkinsans/parkinsansextrabold.ttf");
}



.nav {
    text-align: center;
    margin: 0;
    padding: 0;
 
      }


  .nav li {
    display: inline-block;
    list-style-type: none;
    padding: 20px;
  }

  .nav a {
    font-family: "parkinsans";
    color:rgb(255, 255, 255);
    font-size: 25px;
    text-decoration: none;

  }

.nav a:hover{
  color:#2b00cc;
}


h1{ color:#83fd97;
    font-size: 55px;
    text-transform: uppercase;
    font-family: "bebasneueregular";
}

h2{

  font-size: 19px;
}

.messagedaccueil {
  color: rgb(161, 185, 252);
  margin-top: 230px;
  text-align: center;
  font-family: "parkinsansextrabold";
  font-size: 80px;
}
.messagedaccueil:active {
  color: rgb(3, 70, 253);
  margin-top: 230px;
  text-align: center;
  font-family: "parkinsansextrabold";
  font-size: 80px;
}

.container {

    font-family:"parkinsansregular";
    text-align: justify ;
    column-count: 1;
    column-width: 200px;
    font-size: 16px;
    color:#ffffff;
}

.container {
     

    position:absolute;
    top: 140px;
    left: 600px;
    right : 150px;

}


details{

  font-family:"parkinsansregular";
  font-size:20px;
  line-height: 2;
  color:rgb(255, 255, 255);
  
  
}


.portrait {
  position:absolute;
  width: 400px;
  top: 120px;
  margin-left: 100px;
  padding-right: 300px;
}

.nicolas{
  text-align: ;
  color:#83fd97;
  margin-top: 20px;
  font-family: "parkinsansextrabold";
  font-size: 22px;
  display:inline-block;
  margin-left: 205px;
  margin-top: 450px;
  text-align: center;
  line-height: 75%;
  
}

.fonctions{
  font-family: "parkinsan";
  font-size: 20px;
  color: #83fd97;
  padding-left:200px;
  padding-right:1530px;
  text-align: center;

}

.sisif {
  font-size: 22px;
  font-family: "parkinsanbold";
  text-decoration: none;
  color: #83fd97;
 


}

.sisif:hover {
  
  font-size: 22px;
  font-family: "parkinsanbold";
  color:#c9fad1;
  

}

button {
  --color:#21c03b;
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
  width: 10em;
  height: 2.6em;
  line-height: 2.5em;
  margin: 20px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border: 2px solid var(--color);
  transition: color 0.5s;
  z-index: 1;
  font-size: 20px;
  border-radius: 6px;
  font-weight: 500;
  color: var(--color);
}

button:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--color);
  height: 150px;
  width: 200px;
  border-radius: 60%;
}

button:hover {
  color: #25232370;
}

button:before {
  top: 100%;
  left: 100%;
  transition: all 0.2s;
}

button:hover:before {
  top: -30px;
  left: -30px;
}

button:active:before {
  background: #111111;
  transition: background 0s;
}

.forme {
  float:left;
  height: 450px;
  margin-left: 200px;

}

.forme4{

  height: 450px;
  margin-left: 230px;

}

.chicon{
  width: 3%;
  padding-left: 270px;

}


.texteexpo {
  font-family:"parkinsansregular";
  text-align: justify ;
  column-count: 2;
  column-gap: 50px;
  font-size: 16px;
  color:#ffffff;
  padding-right: 200px;
  padding-left:200px; 

}


.exposition{
  color:#ffda18;
  font-size: 55px;
  text-transform: uppercase;
  font-family: "bebasneueregular";
}

.terminal{
  width: 15%;
  float:right;
  margin-left:30px;
  margin-bottom: 20px;
}

.texteconclusion{
  font-family:"parkinsansregular";
  color:#ffffff;
  text-align: justify ;
  font-size: 16px;
  padding: 0 300px 0 300px;
  margin-top: 100px;


}

.conclusion{

  color:#4e4d4d;
}


.interview {
  font-size: 30px;
  text-align: center;
  padding:100px 350px;
}

summary:hover{

  color:#5e5e5e;

}

article{
  font-size:16px;
  color:#21c03b;
  line-height: 130%;
}

